* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Puritan', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: var(--text-color);
  transition: all 0.25s ease;
  background: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon:hover {
  background: var(--primary-color);
}
.btn-icon:hover svg path{
  fill: var(--surface-color);
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
